<div class="form-group">
    {{ form_label(formReclamation.nomUser) }}
    {{ form_widget(formReclamation.nomUser) }}
    {{ form_errors(formReclamation.nomUser) }}
</div>
<div class="form-group">
    {{ form_label(formReclamation.prenomUser) }}
    {{ form_widget(formReclamation.prenomUser) }}
    {{ form_errors(formReclamation.prenomUser) }}
</div>
<div class="form-group">
    {{ form_label(formReclamation.typeUser) }}
    {{ form_widget(formReclamation.typeUser) }}
    {{ form_errors(formReclamation.typeUser) }}
</div>
<div class="form-group">
    {{ form_label(formReclamation.contenu) }}
    {{ form_widget(formReclamation.contenu) }}
    {{ form_errors(formReclamation.contenu) }}
</div>