<div class="form-field">
    {{ form_label(formEntretien.description) }}
    {{ form_widget(formEntretien.description) }}
    {{ form_errors(formEntretien.description) }}
</div>
<div class="form-field">
    {{ form_label(formEntretien.nomPostulant) }}
    {{ form_widget(formEntretien.nomPostulant) }}
    {{ form_errors(formEntretien.nomPostulant) }}
</div>
<div class="form-field">
    {{ form_label(formEntretien.prenomPostulant) }}
    {{ form_widget(formEntretien.prenomPostulant) }}
    {{ form_errors(formEntretien.prenomPostulant) }}
</div>
<div class="form-field">
    {{ form_label(formEntretien.nomRecruteur) }}
    {{ form_widget(formEntretien.nomRecruteur) }}
    {{ form_errors(formEntretien.nomRecruteur) }}
</div>
<div class="form-field">
    {{ form_label(formEntretien.prenomRecruteur) }}
    {{ form_widget(formEntretien.prenomRecruteur) }}
    {{ form_errors(formEntretien.prenomRecruteur) }}
</div>
<div class="form-field">
    {{ form_label(formEntretien.adresse) }}
    {{ form_widget(formEntretien.adresse) }}
    {{ form_errors(formEntretien.adresse) }}
</div>
<div class="form-field">
    {{ form_label(formEntretien.dateEntentien) }}
    {{ form_widget(formEntretien.dateEntentien) }}
    {{ form_errors(formEntretien.dateEntentien) }}
</div>